.field.field--name-field-blog-images.field--type-image.field--label-above {
    float: none;
}

.field.field--name-field-blog-images.field--type-image.field--label-hidden.field__items {
  float: none;
}

.field--name-field-blog-images .field__item {
  display: inline;
}

.field.field--name-field-blog-images.field--type-image.field--label-visually_hidden .field__items .field__item {
  display: inline-block;
} 



